#score-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
}

#score-page .buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 5px;
}
